.contract__block {
  display: flex;
  width: 100%;
}
.contract-table {
  flex-grow: 1;
  margin-top: -26px;
  border-collapse: collapse;
  border: 1px solid @rgba-gray;
}

.contract-table__row {
  padding: 0;
}

.contract-table__row td {
  border-bottom: 2px solid @rgba-gray;
}

.contract-table__cell--checkbox {
  width: 20px;
  padding-left: 15px;
  padding-right: 10px;
}

.contract-table__docdate {
  font-size: 12px;
  margin-top: -10px;
}

.contract-table--state {
  width: 20%;
  padding-bottom: 15%;
}

.contract-table--inform {
  width: 100%;
}

.contract-table__cell {
  text-align: left;
}

.contract-table__cell:last-child{
  text-align: right;
}

.contract-table__cell:nth-child(2) {
  width: 42%;
}

.contract-table__input {
  .visually__hidden;
}

.contract-table__checkbox {
  position: absolute;
  width: 11px;
  height: 10px;
  margin-top: -4px;
  /*background-color: @rgba-gray;*/
  border-radius: 10% 10% 10% 10%;
  border: 2px solid #d9dce4;
  background-position: 50% 50%;
}

.contract-table__input:checked + .contract-table__checkbox {
  background-color: @rgba-gray;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
}

.contract-table__input:focus + .contract-table__checkbox {
  border: 2px solid @dark-blue;
}

.contract-table__input:hover + .contract-table__checkbox {
  border: 2px solid @dark-blue;
}

.contract-table__input:checked:disabled + .contract-table__checkbox {
  background-color: @rgba-gray;
  background-image: url(../img/check_disable.svg);
  border: 2px solid #d9dce4;
}

.contract-table__input:disabled + .contract-table__checkbox {
  background-color: @rgba-gray;
  border: 2px solid #d9dce4;
}

.contract-table__input:checked + .contract-table__checkbox:active {
  background-color: @rgba-gray;
  background-image: url(../img/check_disable.svg);
  border: 2px solid #d9dce4;
}
