.create-window {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 100;
  width: 500px;
  height: 600px;
  background-color: gray;
}

.create-window__block {
  padding: 20px;
}

.create-window__select {
  display: flex;
  align-items: baseline;
}
