.create-window {
  display: none;
}
.create-window--open {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 100;
  width: 500px;
  height: 600px;
  background-color: @white;
  box-shadow: -1px 1px 9px 1px #A9A9A9;
}

.create-window__wrapper {
  margin: 20px;
}

.create-window__title {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: normal;
}

.create-window--open .create-window__exit-btn {
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  border: none;
  background-color: @white;
}

.create-window--open .create-window__exit-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: @white;
  background-image: url(../img/cross.svg);
}
.create-window--open .create-window__exit-btn:active {
  background-color: @rgba-gray;
}

.create-window--open .create-window__exit-btn:active::before {
  background-color: rgba(220, 220, 220, 0.01);
}

.create-window__select {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
