.select div {
  border: 1px solid rgba(220, 220, 220, 0.7);
  border-radius: 5% 5% 5% 5%;
}

.select__block {
  width: 10%;
  margin-right: 15px;
}

.select__block:nth-child(2),
.select__block:nth-child(3) {
  width: 15%;
}

.select__block:nth-child(4) {
  width: 16%;
}

.select div:last-child {
  border: 0;
}

.select__block--all-filters {
  margin-right: 0;
  padding-top: 5px;
  padding-left: 30px;
  background-size: 25px;
  background-image: url(../img/filter_icon.svg);
  background-repeat: no-repeat;
  background-position: 1% 50%;
  font-size: 13px;
  font-weight: bold;
}

.select__block--search {
  height: 30px;
}

/*.select__block {
  display: block;
  position: absolute;
  margin-top: 32px;
  margin-left: 194px;
  width: 15px;
  height: 15px;
  background-image: url(../img/down_icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}*/
